@mixin font-face($font-name, $path, $weight: normal, $style: normal) {
	@font-face {
		font-family: quote($font-name);
		src:
				url(#{$path}.woff) format("woff"),
				url(#{$path}.woff2) format("woff2"),
				url(#{$path}.ttf) format("truetype");
		font-weight: $weight;
		font-style: $style;
	}
}
@include font-face('helvetica_regular', '../fonts/helvetica_regular', 400, 'normal');
@include font-face('MyriadPro-Regular', '../fonts/MyriadPro-Regular', 400, 'normal');

$fontFamily: "helvetica_regular";

