@use "sass:math";

// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import "mixins";

// подключение шрифта если подключаем свои  =============================
@import "fonts/fonts";

// Переменые ===============================================================================================================================================================================================================================================================================================
@import "variables";

// сброс отступов
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: $fontFamily;

	// container
	[class*="__container"] {
		max-width: 1170px;
		margin: 0 auto;
		padding: 0;
	}
}


