doctype html
html(lang="ru")
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, shrink-to-fit=no')
    meta(name="description", content=siteDescription)
    meta(name='keywords', content='')
    title Блок1
    link(rel="stylesheet" href="assets/css/main.css?v=" + siteVersion)
    | <link rel="preconnect" href="https://fonts.googleapis.com">
    | <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    | <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">




  body
    include parts/1-section-top
    script(src="assets/js/main.js?v=" + siteVersion)
